<div class='container'>
    <%= render 'pages/help/announcements' %>
    <h1>Current Announcements</h1>

    <table class='table table-hover'>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @announcements.each do |announcement| %>
          <tr>
            <td><%= announcement.title %></td>
            <td><%= announcement.description %></td>
            <td><%= link_to 'Edit', edit_announcement_path(announcement) %></td>
            <td><%= link_to 'Delete', announcement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Announcement', new_announcement_path %>
</div>
