<div class='container'>
    <%= render 'pages/help/content/home' %>
    <h1>Contact Us Page Content</h1>
    <div class='row announcements'>
        <h3>Homepage Banner Image</h3>
        <%= render 'content_form', content: @image, section: 'image', page: 'home' %>
    </div>
    <br>
    <div class='row announcements'>
        <h3>Homepage Slogan</h3>
        <%= render 'content_form', content: @slogan, section: 'slogan', page: 'home' %>
    </div>
    <br>
    <div class='row announcements'>
        <h3>Footer Column 1</h3>
        <p>**HTML tags will be rendered**</p>
        <%= render 'content_form', content: @footer_1, section: 'footer_1', page: 'home' %>
    </div>
    <br>
    <div class='row announcements'>
        <h3>Footer Column 2</h3>
        <p>**HTML tags will be rendered**</p>
        <%= render 'content_form', content: @footer_2, section: 'footer_2', page: 'home' %>
    </div>
    <br>
    <div class='row announcements'>
        <h3>Footer Column 3</h3>
        <p>**HTML tags will be rendered**</p>
        <%= render 'content_form', content: @footer_3, section: 'footer_3', page: 'home' %>
    </div>
    <br>
    <div class='row announcements'>
        <h3>Footer Column 4</h3>
        <p>**HTML tags will be rendered**</p>
        <%= render 'content_form', content: @footer_4, section: 'footer_4', page: 'home' %>
    </div>
    <br>
    <div class='row announcements'>
        <h3>Footer Column 5</h3>
        <p>**HTML tags will be rendered**</p>
        <%= render 'content_form', content: @footer_5, section: 'footer_5', page: 'home' %>
    </div>
    <br>
</div>
