<div class='container'>
    <div class='row'><h2>Images currently on this server</h2></div>
    <p>These are the images that currently live on this server. The names of the images below can be used in place of a full url. For images not in the list, you will need to input a full url (http://stuff.com/picture.jpg)</p>
    <table class='table'>
        <thead>
            <tr>
                <th>Image</th>
                <th>Image Name (For URL inputs)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= image_tag 'abcom.jpg' %></td>
                <td>abcom.jpg</td>
            </tr>
             <tr>
                <td><%= image_tag 'abcusa.gif' %></td>
                <td>abcusa.gif</td>
             </tr>
                <td><%= image_tag 'choir.jpg' %></td>
                <td>choir.jpg</td>
            </tr>
            <tr>
               <td><%= image_tag 'church_logo.png' %></td>
               <td>church_logo.png</td>
            </tr>
            <tr>
               <td><%= image_tag 'church.jpg' %></td>
               <td>church.jpg</td>
            </tr>
            <tr>
               <td><%= image_tag 'facebook.gif' %></td>
               <td>facebook.gif</td>
            </tr>
            <tr>
                <td><%= image_tag 'group_photo.jpg' %></td>
               <td>group_photo.jpg</td>
            </tr>
            <tr>
               <td><%= image_tag 'kupenda.jpg' %></td>
               <td>kupenda.jpg</td>
            </tr>
            <tr>
               <td><%= image_tag 'midnight_service.jpg' %></td>
               <td>midnight_service.jpg</td>
            </tr>
            <tr>
               <td><%= image_tag 'pastor_stephanie.jpg' %></td>
               <td>pastor_stephanie.jpg</td>
            </tr>
            <tr>
               <td><%= image_tag 'tanzania.jpg' %></td>
               <td>tanzania.jpg</td>
            </tr>
            <tr>
               <td><%= image_tag 'window.jpg' %></td>
               <td>window.jpg</td>
            </tr>
            <tr>
               <td><%= image_tag 'youthchoir.jpg' %></td>
               <td>youthchoir.jpg</td>
            </tr>
        </tbody>
    </table>
</div>
