<% content_for :title do %>About<% end %>
<div class='container'>
    <% @contents.each_with_index do |content, index| %>
        <div class='row'>
            <% if index.odd? %>
                <div class='col-md-3'>
                    <%= image_tag content.image_src %>
                </div>
                <div class='col-md-9'>
                    <h3><%= content.section %></h3>
                    <p><%= content.content %></p>
                </div>
            <% else %>
                <div class='col-md-3 col-md-push-9'>
                   <%= image_tag content.image_src %>
                </div>
                <div class='col-md-9 col-md-pull-3'>
                    <h3><%= content.section %></h3>
                    <p><%= content.content %></p>
                </div>
            <% end %>
        </div>
    <% end %>
</div>
