<% content_for :title do %>Home<% end %>
<div class='jumbotron'>
    <div class='container'>
        <div class='row fbcheader'>
            <%= image_tag @image %>
            <p><%= @slogan %></p>
        </div>
    </div>
</div>
<div class='container'>
    <div class='row'>
        <div class='col-sm-6'>
            <p class='btn btn-primary btn-lg btn-block btn-custom disabled'>Happenings at First Baptist</p>
            <div class='leftsidecol'>
                <%= render 'pages/home/image_carousel' %>
                <%= render 'pages/home/announcements' %>
                <%= render 'pages/home/event_list' %>
            </div>
        </div>
        <div class='col-sm-6'>
            <%= render 'pages/home/facebook_feed' %>
       </div>
    </div>
</div>
