<% content_for :title do %>Home<% end %>
<div class='jumbotron'>
    <div class='container'>
        <div class='row fbcheader'>
            <%= image_tag 'church_logo.png' %>
            <p>We are a church family where God's grace and unconditional love guide us to provide a spiritual home for faith, worship, mission, and fellowship. We celebrate the dignity of each person's journey with Jesus Christ</p>
        </div>
    </div>
</div>
<div class='container'>
    <div class='row'>
        <div class='col-sm-6'>
            <p class='btn btn-primary btn-lg btn-block btn-custom disabled'>What's Happening at First Baptist?</p>
            <div class='leftsidecol'>
                <%= render 'pages/home/image_carousel' %>
                <%= render 'pages/home/announcements' %>
                <%= render 'pages/home/event_list' %>
            </div>
        </div>
        <div class='col-sm-6'>
            <%= render 'pages/home/facebook_feed' %>
       </div>
    </div>
</div>
