<div class='container'>
    <%= render 'pages/help/images' %>
    <h1>Current Carousel Images</h1>
    <%= link_to 'New Carousel image', new_carousel_image_path %>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>Image</th>
          <th>Url</th>
          <th>Caption</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @carousel_images.each do |carousel_image| %>
          <tr>
            <td><img src="<%= carousel_image.url %>" style='max-height: 100px;'>
            <td><%= carousel_image.url %></td>
            <td><%= carousel_image.caption %></td>
            <td><%= link_to 'Edit', edit_carousel_image_path(carousel_image) %></td>
            <td><%= link_to 'Delete', carousel_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
