<div class='container'>
    <div class='row'>
        <div class='col-sm-3 col-xs-6'>
            <%= Content.where(page: 'home', section: 'footer_left').first.content.html_safe %>
        </div>
        <div class='col-sm-3 col-xs-6'>
            <%= Content.where(page: 'home', section: 'footer_right').first.content.html_safe %>
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class='col-sm-2 col-xs-4'>
            <%= image_tag 'abcom.jpg' %>
        </div>
        <div class='col-sm-2 col-xs-4'>
            <%= image_tag 'abcusa.gif' %>
        </div>
        <div class='col-sm-2 col-xs-4'>
            <%= image_tag 'kupenda.jpg' %>
        </div>
  </div>
</div>
